<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>anim8me</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="../static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="../static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="../static/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="#"><img src="../static/images/ANIM8ME_logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="#services">Potential </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#work"> Our  Work</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-md-7">
                  <div class="text-bg">
                     <div class="padding_lert">
                        <h1>anim8me<br>Animator's Dream Come True</h1>
                        <a href="#">Dive Right In</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-5 bah">
                  <div class="bann_img">
                     <figure><img src="../static/images/ANIM8ME_sticky.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- service -->
      <div id="services" class="service">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="service_img">
                     <figure><img src="../static/images/pc.png" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>Using Medipipe and Opencv to Capture <br> Dynamic movements </h2>
                     <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam optio at delectus id, totam aliquid, rerum laborum facere nihil voluptatem consequatur incidunt obcaecati ullam quam. Minima dolorem cum exercitationem. Amet.</span>
                     <a class="read_more" href="Javascript:void(0)">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end service -->
      <!-- solutions -->
      <div class="solutions">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>Ezpz animation <br>Integrate with your Software of choice</h2>
                     <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum error aliquam autem sed. Nesciunt iusto et vitae. Cupiditate labore ipsam facere recusandae delectus vero, sint neque obcaecati enim iure!</span>
                     <a class="read_more" href="Javascript:void(0)">Read More</a>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="solutions_img">
                     <figure><img src="../static/images/solusan.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end solutions -->
      <!-- work -->
      <div id="work" class="work">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Project Updates</h2>
                     <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quo saepe rerum dolor expedita nobis quae asperiores porro facilis, aperiam dolorum quos molestias sint nisi laboriosam fuga? Veniam, at consequuntur.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="our_work">
                     <figure><img src="../static/images/work1.png" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="our_work">
                     <figure><img src="../static/images/work2.png" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="our_work">
                     <figure><img src="../static/images/work3.png" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="our_work">
                     <figure><img src="../static/images/work4.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end work -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-5">
                     <div class="multipurpose">
                        <h3>Let’s  <br>Animate <br> with Ease</h3>
                     </div>
                  </div>
                  <div class="col-md-7 sm_none">
                     <div class="contac_detel">
                        <ul>
                           <li><img src="../static/images/call.png" alt="#"/>+91 1234567890</li>
                           <li><a href="Javascript:void(0)"> <img src="../static/images/gmail.png" alt="#"/>hehehe@gmail.com</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="multipurpose">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum saepe culpa tempore velit delectus minus expedita quos cupiditate accusamus atque ipsam nemo voluptatem vero porro sint libero, autem assumenda ipsa! </p>
                     </div>
                  </div>
                  <div class="col-md-7 sm_show">
                     <div class="contac_detel">
                        <ul>
                           <li><img src="../static/images/call.png" alt="#"/>+91 1234567890</li>
                           <li><a href="Javascript:void(0)"> <img src="../static/images/gmail.png" alt="#"/>hehehe@gmail.com</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="../static/js/jquery.min.js"></script>
      <script src="../static/js/bootstrap.bundle.min.js"></script>
      <script src="../static/js/jquery-3.0.0.min.js"></script>
      <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../static/js/custom.js"></script>
   </body>
</html>
